/*
 * Copyright (c) 2022 Google LLC.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	aliases {
		green-led = &green_led;
	};
};

&i2c1 {
	pcf8575: gpio-expander@27 {
		compatible = "nxp,pcf857x";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
		int-gpios = <&gpioa 0 0>;
		status = "okay";
	};
};